.create-event-div{
  padding-left: 5cm;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
}

.add-button{
  cursor: pointer;
  color: #010101;
  border-radius: 0.5cm;
  border-width: 0.2cm;
  border-color: #69C9D0;
  background-color: #69C9D0;
  // padding-left: 0.5rem;
  // padding-top: 0.5cm;
}

.event-image{
  display:flex;
  width: 60mm;
  height: 40mm;
  margin: auto;
}