.create-event-div{
  padding-left: 5cm;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
}

.add-button{
  cursor: pointer;
  color: #010101;
  border-radius: 0.5cm;
  border-width: 0.2cm;
  border-color: #69C9D0;
  background-color: #69C9D0;
  // padding-left: 0.5rem;
  // padding-top: 0.5cm;
}

.event-image{
  
  width: 40mm;
  height: 30mm;
  margin: auto;
}

.list-event{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly; 
  column-gap: 50px;
}

.event-title{
  display: flex;
align-items: center;
justify-content: center;
font-size: 1.5em;
}

.center-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
