.header {
  display: flex;
  height: 5em;
  background-color: #EE1D52;
  justify-content: flex-start;
  margin: 0;
  align-items: center;
  padding: 0.7em;
}

.header-link{
  color: #010101;
  text-decoration: none;
  margin-right: 0.5em;
  font-size: x-large;

}

.header-link-signin{
  position: absolute;
  right: 0.5em;
  color: #010101;
  text-decoration: none;
  margin-right: 0.5em;
  font-size: x-large;
  justify-content: flex-end;
}


.logo {
  display: flex;
  align-items: 3em;
}

.logo img {
  height: 3.5em;
}

.menu-horizontal {
  height: 5em;
  list-style: none;
}

.nav-link {
  height: 5.5em;
  text-decoration: none;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 1.5em;
  font-weight: 600;
  display: grid;
  align-items: center;
  text-align: right;
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  background-color: rgb(0, 0, 0, 0.6);
  width: fit-content;
}

.nav-link:hover {
  color: rgb(143, 143, 143);
}